<% include ../static/partials/header.ejs %>
<% include ../static/partials/navbar.ejs %>
<main class="container">
  <section>
    <form action="/wiki/<%= wiki.id %>/update" method="post">
      <header class="jumbotron my-4">
        <% include ../static/partials/messages.ejs %>
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" class="form-control" name="title" aria-describedby="titleHelp" value="<%= wiki.title %>">
          </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-sm">Done</button>
        </div>

      </header>
      <section class="col-lg-10">
        <div class="form-group">
          <textarea rows="4" class="form-control" name="body" ><%= wiki.body %></textarea>
        </div>
      </section>
      <% if((currentUser.isPremium() && currentUser.id === wiki.userId) ||currentUser.isAdmin()){ %>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="private" <% if(wiki.private){%> checked <%}%>>
          <label class="form-check-label" for="private">Please check this if you would like this article to be private.</label>
          <input type="text" class="form-control" name="collaborators"
          placeholder="List the emails of users, seperated by commas, that you would like to collaborate on this private wiki."
          value = "<%= collaborators %>">
        </div>
      <% } %>

    </form>
  </section>
</main>


<% include ../static/partials/footer.ejs %>
