
<% include ./partials/header.ejs %>
<% include ../static/partials/messages.ejs %>
  <script type="text/javascript">
    $(document).ready(function(){
      //let show = false;
      $("#sign").click(function(){
        $(".signUp").load("/signup");
      });
    });

  </script>
    <h2>Welcome to Blocipedia</h2>

    <div class="signUp">
      <input type="button" value="Sign Up" class="btn btn-primary" id="sign"/>
    </div>

<% include ./partials/footer.ejs %>
